<br />
<div id="eucookie" class="eu-cookies"></div>
<script type="text/javascript" src="/public/lib/eucookie.js"></script>

<div class = "navbar navbar-inverse navbar-static-top">
    <div class = "container">

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" style="margin-bottom: 10px;">
            <p>Copyright &copy; Devlog 2016 powered by <a href=""> NodeJs</a></p>
        </div>
    </div>
</div>

<script src = "/public/lib/bootstrap/ts/bootstrap.min.js"></script>

</body>
</html>