<div class="container">
<div class="row">
<div class="well text-center">
   Copyright &copy; SCms 2015
</div></div>
</div>
<script src = "/public/lib/bootstrap/ts/bootstrap.min.js"></script>
</body>
</html>