<% include ../partials/header %>
<div class="container">
<div class = "row">
<h2 style="margin-left:12px;">Service</h2>
	<table width="100%">
	<tbody>
	<tr>
	<td valign="top">
		<ul><li><h4>Graphic creation</h4><ul><li>Raster graphics</li><li>Vector graphics</li><li>3D graphics</li></ul>
		</li>
		<li><h4>Webdesign</h4><ul><li>Template Coding HTML / CSS</li><li>Site support</li></ul></li>
		<li><h4>Creation of custom applications</h4><ul><li>Javascript(Nodejs,React,Express)</li><li>C/C++(QT,Irr Engine)</li><li>Php</li><li>MySQL</li><li>PostgresSQL</li><li>SQLite</li></ul></li>
		</ul>
	</td>
	<td align="center" valign="top"><img src="/public/img/grafika.png" width="330" height="257" alt="x"/></td>
	</tr>
	</tbody>
	</table>
</div>
</div>
<% include ../partials/footer %>
	
