<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Api</title>
<script type="text/javascript" src="/public/lib/jquery/jquery.min.js"></script>
<link href="/public/lib/bootstrap/ts/bootstrap.min.css" rel = "stylesheet">
</head>
<body>
<div class="container">
api
</div>

<script src = "/public/lib/bootstrap/ts/bootstrap.min.js"></script>
</body>
</html>
